:root {
  /* Dark Background */
  --color-bg0: #282828;
  --color-bg0-hard: #1d2021;
  --color-bg0-soft: #32302f;
  --color-bg1: #3c3836;
  --color-bg2: #504945;
  --color-bg3: #665c54;
  --color-bg4: #7c6f64;

  /* Dark Foreground */
  --color-fg0: #fbf1c7;
  --color-fg1: #ebdbb2;
  --color-fg2: #d5c4a1;
  --color-fg3: #bdae93;
  --color-fg4: #a89984;

  /* Dark Colors */
  --color-dark-red: #cc241d;
  --color-dark-green: #98971a;
  --color-dark-yellow: #d79921;
  --color-dark-blue: #458588;
  --color-dark-purple: #b16286;
  --color-dark-aqua: #689d6a;
  --color-dark-orange: #d65d0e;
  --color-dark-gray: #928374;

  --color-light-red: #fb4934;
  --color-light-green: #b8bb26;
  --color-light-yellow: #fabd2f;
  --color-light-blue: #83a598;
  --color-light-purple: #d3869b;
  --color-light-aqua: #8ec07c;
  --color-light-orange: #f38019;
  --color-light-gray: #a89984;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  olor: var(--color-bg0);
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: "\201C""\201D""\2018""\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  background-color: var(--color-bg0);
  color: var(--color-fg0);
  color: #839496;
  margin: 1em;
}
body {
  background-color: var(--color-bg0);
  border: 1pt solid var(--color-bg1);
  color: var(--color-fg0);
  margin: 0 auto;
  max-width: 23cm;
  padding: 1em;
}
code {
  background-color: 1pt solid var(--color-bg1);
  padding: 2px;
}
a {
  color: var(--color-dark-aqua);
}
a:visited {
  color: var(--color-dark-blue);
}
a:hover {
  color: var(--color-light-aqua);
}
h1 {
  color: var(--color-dark-orange);
}
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-light-orange);
}
pre {
  background-color: var(--color-bg1);
  color: var(--color-fg1);
  border: 1pt solid var(--color-bg2);
  padding: 1em;
}
pre code {
  background-color: var(--color-bg1);
}
h1 {
  font-size: 2.2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}
blockquote {
  font-style: italic;
  background-color: var(--color-bg1);
  color: var(--color-fg2);
}
.tag {
  background-color: var(--color-dark-orange);
  color: var(--color-bg0);
  padding: 0 0.2em;
}
.todo,
.next,
.done {
  color: #002b36;
  background-color: #dc322f;
  padding: 0 0.2em;
}
.tag {
  -webkit-border-radius: 0.35em;
  -moz-border-radius: 0.35em;
  border-radius: 0.35em;
}
.TODO {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #2aa198;
}
.TODO {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #2aa198;
}
.DONE {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #859900;
}

.underline {
  text-decoration: underline;
}

table {
  background-color: var(--color-bg1);
  border: solid 1px var(--color-bg4);
}
td,
th {
  padding: 1em;
  border: solid 1px var(--color-bg4);
}
th {
  background-color: var(--color-bg2);
}
.org-left {
  text-align: left;
}
.org-right {
  text-align: right;
}

.status .author,
.status .date {
  color: var(--color-bg4);
}

.validation {
  display: none;
}

.src {
  padding-top: 0.25em;
}

.src::before {
  display: block;
  background-color: var(--color-bg2);
  color: var(--color-bg0);
  padding: 0 0.2em;
  margin-bottom: 0.2em;
  content: "code";
}

.src-emacs-lisp::before {
  content: "emacs lisp";
}

.src-python::before {
  content: "python";
}

.src-html::before {
  content: "html";
}
.src-css::before {
  content: "css";
}
.src-javascript::before {
  content: "javascript";
}
.src-typescript::before {
  content: "typescript";
}
.src-asm::before {
  content: "asm";
}

.org-keyword {
  color: var(--color-light-blue);
}
.org-constant {
  color: var(--color-light-red);
}
.org-css-property,
.org-string {
  color: var(--color-light-purple);
}
.org-css-selector,
.org-variable-name,
.org-function-name {
  color: var(--color-light-green);
}

.org-comment-delimiter,
.org-comment {
  color: var(--color-light-gray);
}
