@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300;700&display=swap");
html {
  font-family: "Roboto", sans-serif;
}
code,
kbd,
pre,
samp {
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
}
p {
  font-feature-settings: "liga";
  text-rendering: optimizelegibility;
  word-break: break-word;
  line-height: 1.5;
  font-size: 1.1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
table {
  width: 100%;
}
